# Django RestFramework
djangorestframework>=3.9.0,<3.10
coreapi>=2.3.3,<2.4
PyYAML>=4.2b1
django-cors-headers>=2.4.0,<3
drf-yasg>=1.15.0,<1.16

# Utils
coverage>=4.4.0,<4.6
flake8>=3,<4
black>=18,<19
git+https://github.com/timothycrosley/isort@fcd80d4#egg=isort
