# EditorConfig is awesome: http://EditorConfig.org

# 4 space indentation
[*.py]
indent_style = space
indent_size = 4

# 4 space indentation
[*.html]
indent_style = space
indent_size = 4

# Tab indentation (no size specified)
[Makefile]
indent_style = tab

[*.js]
indent_style = space
indent_size = 2
