include setup.py README.rst MANIFEST.in LICENSE AUTHORS
exclude tox.ini *.yml *.yaml Makefile Dockerfile .editorconfig

recursive-include src/bananas/templates *
recursive-include src/bananas/static *
recursive-include src *.py
recursive-include src py.typed
recursive-exclude example *
recursive-exclude scripts *
recursive-exclude tests *
